.logo-container {
  z-index: 0;
  width: 400px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: auto;
  margin: auto;
  transition: all 0.3s ease-in;
  animation: fadeIn 3s 3.5s backwards, pulse 3s 4.5s forwards;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    margin-top: 100px;
    width: 120%;
    transform: rotateZ(15deg);
  }
}

