#message-animation {
  width: 900px;
  height: 900px;
  position: absolute;
  right: 0;
  animation: fadeIn 1s 2s backwards;
  margin-top: 50px;
}

$border: solid black 1px;
@media (max-width: 1024px) {
  #message-animation {
    display: none;
  }
}